.container-geral{
  
    max-width: 1200px;
}

.input-t{
    max-width: 800px;
    
    
}

.input-a-l{
    max-width: 800px;
}

@keyframes title {
  0%{color: red;}
  25%{color: rgb(25, 0, 255);}
  50%{color: rgb(225, 0, 255);}
  75%{color: rgb(25, 0, 255);}
  100%{color: red;}
  
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color:red;
  animation-name: title;
  animation-duration: 10s;
}

@media print {
    body * {
      visibility: hidden;
    }
    #barcode, #barcode * {
      visibility: visible;
    }
    #barcode {
      position: fixed;
      left: 0;
      top: 0;
    }
  }

